.title-search-moving-mobile {
  color: white;
  font-size: 1.2rem;
  font-family: 'Montserrat SemiBold';
  padding: 0.5rem 0.5rem 0.5rem 0rem !important;
}

.content-image-moving {
  height: 32.5rem;
  width: 100%;
  padding: 0 !important;
  display: block;
  position: relative;
}

.banner-Footer-moving {
  display: flex;
  margin-bottom: 2rem;
}

.position-titles-transfer-col {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  padding: 60px 46px;
  width: 94%;
  height: 100%;
  align-content: space-between;
}

.text-image-col-h3-transfer {
  font-family: 'Montserrat Bold';
  font-size: 24px;
  color: #EFEFEF;
  margin-bottom: 13px;
}

#radio-button-home > div.row-home-search.row > div:nth-child(4) > div > div {
  width: 20rem !important;
}

.container-principal-moving {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 2.5rem;
  padding: 0px;
  margin-bottom: 2.5rem;
}

.position-text-new-titles-transfer {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 100%;
  padding-left: 55px;
  display: grid;
  align-items: center;
  align-content: center;
}

.text-image-new-h2-transfer {
  font-family: 'Montserrat Bold';
    font-size: 30px;
    color: #EB741E;
    text-align: left;
    margin: 0px;
}

.text-image-nex-h4-transfer {
  font-family: 'Montserrat SemiBold';
    font-size: 20px;
    color: #1E1E1E;
    margin: 0px;
    text-align: left;
}

.service-transport {
  height: 35.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.Image-transports {
  border-radius: 15px;
  height: 9rem;
  position: relative;
  display: flex;
  bottom: 130px;
}

.information-cars {
  position: absolute;
  bottom: 0px;
  padding: 0px;
  width: 100%;
  height: 62%;
  margin: auto 0%;
  text-align: left;
  color: rgb(0, 0, 0);
  font-family: 'Montserrat Bold';
  font-size: 1.2rem;
  background-color: #F4F4F4;
  letter-spacing: .6px;
  text-indent: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card-info-carousel-modal {
  position: relative;
  height: 170px;
  padding: 1rem;
}

.card-modal-money-moving {
  height: 130px;
  padding: 1rem;
  display: flex;
  margin: 0px;
}

.description {
  width: 100%;
  position: relative;
  top: -6px;
  font-family: 'Montserrat Medium';
  font-size: 78%;
  color: #666666;
  padding: 0px;
}

.information-text {
  width: 100%;
  padding: 0.5rem 0.8rem;
  position: relative;
  top: 6px;
  font-family: 'Montserrat Semibold';
  font-size: 80%;
  color: #666666;
  line-height: 2;
}

.information-text-carousel {
  list-style: disc;
  padding-left: 38px;
  padding-top: 12px;
  height: 80px;
}

.information-text-carousel li {
  list-style: disc;
  position: relative;
  text-indent: 0px;
  margin-bottom: 14px;
  list-style-type: none;
}

.information-text-carousel li::before {
  text-indent: 0px;
  margin-bottom: 14px;
  font-family: 'Wingdings';
  content: '✓';
  color: #66CC9B;
  position: absolute;
  left: -20px;
}

.description-general {
  font-size: .75rem;
  font-family: 'Montserrat Medium' !important;
  text-transform: capitalize;
}

.title-transportation {
  font-family: 'Montserrat Bold';
  font-size: 1.4rem;
  color: #1E1E1E;
  font-weight: bold;
  text-transform: capitalize;
  padding: 8px;
}

.h-line-transport {
  border: none;
  height: 1px;
  background-color: #b5b5b5;
  width: 99.5%;
  position: absolute;
  left: 0px;
  bottom: 70px;
}

.price-transport {
  position: absolute;
  bottom: 13px;
  left: 18px;
}

.text-money {
  font-family: 'Montserrat Medium';
  font-size: 13px;
  color: #666666;
  font-weight: bold;
}

.text-price {
  font-family: 'Montserrat Bold';
  font-size: 20px;
  color: #1E1E1E;
  font-weight: bold;
}

.text-letter-price {
  font-family: 'Montserrat Semibold';
  font-size: 16px;
  color: #1e1e1e;
  font-weight: bold;
}

.carousel-different-tours {
  height: 44rem;
  margin-top: 1rem;
  margin-bottom: -5rem;
}

.style-carousel-moving {
  padding: 35px 0 42px 0;
}

.Image-tours-moving {
  border-radius: 15px;
  height: 28rem;
  position: relative;
}

.title-transports {
  margin-bottom: 18px;
}

.element-tabMoving {
  position: absolute;
  width: 100%;
  bottom: 0rem;
  padding: 0 !important;
}

.radio-button-moving {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-family: 'Montserrat Medium' !important;
  font-size: 11px;
}


#tab-search-home-tabpane-moving>div>div:nth-child(4)>div>div>div {
  width: 260px !important;
}

#tab-search-home-tabpane-moving>div>div:nth-child(1)>div>div>div {
  padding-top: 11px !important;
  padding-bottom: 4px !important;
  padding-left: 25px !important;
  font-size: 13px !important;
}

#tab-search-home-tabpane-moving>div>div:nth-child(2)>div>div>div {
  padding-top: 11px !important;
  padding-bottom: 4px !important;
  padding-left: 27px !important;
  font-size: 13px !important;
}

#tab-search-home-tabpane-home>div.row-home-search.row>div.col-sm-4>div>div>div {
  padding-top: 11px !important;
  padding-bottom: 0px !important;
  padding-left: 27px !important;
  border-radius: 8px !important;
}

#tab-search-home-tabpane-home>div.row-home-search.row>div.col-sm-4>div>div>div.active {
  border: 1px solid #2899C7 !important;
}

.calendar-check-moving {
  position: relative;
  top: 1.3rem;
}

.calendar-drop-moving {
  position: relative;
  top: 2.2rem;
}

.icon-date-moving {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  z-index: 1;
  font-size: 19px !important;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 0;
}

.style-carousel-transport {
  height: 505px;
  padding: 20px 0 42px 0;
}

/*SECOND MOVING SCREEN*/

.swiperCardMoving {
  width: 60%;
}

.container-info-card-moving {
  position: relative;
  height: 220px;
  padding: 1.2rem;
}

.container-price-card-moving {
  position: relative;
  height: 130px;
  padding: 1.2rem;
  display: flex;
}

.title-moving {
  font-size: 1.4rem;
  text-align: center;
  font-family: 'Montserrat Bold';
  color: #1E1E1E;
  padding-bottom: 30px;
  padding-top: 20px;
}

.subtitle-moving {
  font-size: 1.4rem;
  text-align: left;
  font-family: 'Montserrat Bold';
  color: #1E1E1E;
  margin-left: 8px;
  padding-bottom: 68px;
  padding-top: 18px;
}

.card-moving {
  background-color: #FAFAFA !important;
  border-color: #E5E8E8 !important;
  border-radius: 20px !important;
  margin-bottom: 30px !important;
  padding: 0 !important;
  height: 320px !important;
  width: 100% !important;
  border: 1px solid #B5B5B5 !important;
  box-shadow: none !important;
}

.card-moving:hover {
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25) !important;
}

.css-1q04urf {
  box-shadow: none !important;
}

.card-moving-image {
  padding: 0 !important;
  width: 100% !important;
  height: 100%;
}

.card-moving-col {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.card-moving-title {
  font-size: 1.5rem;
  font-family: 'Montserrat Bold';
  color: #1E1E1E;
  margin-bottom: 14px;
  text-transform: capitalize;
}

.card-moving-model {
  font-size: 13px;
  text-align: left;
  font-family: 'Montserrat SemiBold';
  color: #666666;
}

.lh-text {
  line-height: 1.5;
}

.card-model-car {
  font-size: 12px;
  text-align: left;
  font-family: 'Montserrat Medium';
  color: #666666;
  margin-top: 14px;
}

.card-moving-capacity {
  font-size: 13px;
  text-align: left;
  font-family: 'Montserrat SemiBold';
  color: #666666;
}

.card-model-capacity {
  font-size: 12px;
  text-align: left;
  font-family: 'Montserrat Medium';
  color: #666666;
}

.card-moving-facility {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.card-moving-facility-carousel {
  display: flex;
}

.card-moving-facilities {
  font-size: 12px;
  text-align: center;
  font-family: 'Montserrat Medium';
  color: #666666;
  margin-top: 8px;
}

.card-moving-price {
  font-size: 13px;
  text-align: left;
  font-family: 'Montserrat SemiBold';
  color: #666666;
}

.card-model-price {
  font-size: 12px;
  text-align: left;
  font-family: 'Montserrat Medium';
  color: #666666;
}

.h-line-card {
  border: none;
  height: 1px;
  background-color: #6666;
  width: 100%;
  position: relative;
  top: 18px;
}

.card-moving-button {
  border-color: transparent;
  background-color: #FCB41E;
  color: #1E1E1E;
  padding: 4px 22px;
  font-size: 14px;
  border-radius: 42px;
  font-family: 'Montserrat Bold';
}

.card-moving-button:hover {
  background-color: #FDD278;
}

.styles-moving-button-card {
  position: absolute;
  left: 13rem;
  bottom: 1.8rem;
}

.card-moving-money {
  position: relative;
  top: 12px;
}

.card-moving-type {
  font-size: 14px;
  text-align: left;
  font-family: 'Montserrat Semibold';
  color: #666666;
  font-weight: bold;
  margin-bottom: 2px;
  width: 110%;
}

.card-moving-type-m {
  font-size: 14px;
  text-align: left;
  font-family: 'Montserrat Semibold';
  color: #666666;
  font-weight: bold;
  margin-bottom: 2px;
}

.card-moving-total {
  font-size: 22px;
  text-align: left;
  font-family: 'Montserrat Bold';
  color: #1E1E1E;
  font-weight: bolder;
}

.price-moving-carousel-m {
  font-size: 22px;
  font-family: 'Montserrat Bold';
  color: #1E1E1E;
}

.card-moving-letter-total {
  font-size: 16px;
  text-align: left;
  font-family: 'Montserrat Bold';
  color: #1E1E1E;
  margin-right: 5px;
}

.card-moving-taxes {
  font-size: 10px;
  text-align: left;
  font-family: 'Montserrat Medium';
  color: #666666;
  margin-top: 2px;
}

.css-11xf08s-MuiCardMedia-root {
  width: 100% !important;
}

.css-1oqv2c0-MuiPaper-root-MuiCard-root {
  background-color: #f4f4f4 !important;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 15px !important;
  overflow: hidden;
  display: flex;
  border-radius: 15px;
  width: 100%;
  box-shadow: none !important;
}

.css-11xf08s-MuiCardMedia-root {
  width: 100% !important;
  height: 100% !important;
}

#dotsSwiperactivity>img {
  width: 100% !important;
  height: 100% !important;
}

.date-transportation-search {
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  /* top: 0; */
  white-space: nowrap;
  z-index: 1;
  line-height: 1em;
  top: 0.666667em;
  color: #666;
  left: 3.8em !important;
  padding: 0px 1.3em !important;
  font-size: 10px;
  font-family: 'Montserrat Medium';
}

.people-transportation-search {
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
  line-height: 1em;
  top: 2px;
  color: #666;
  left: 6.8em !important;
  padding: 0px 1.8em !important;
  font-size: 10px;
  font-family: 'Montserrat Medium';
}

.carousel-destination-tour-transportation {
  height: 60rem;
}

.border-radius-moving {
  width: 307.5px;
  margin-right: 30px;
  border: 1px solid #B5B5B5;
  border-radius: 12px;
}

.border-radius-moving:hover {
  width: 307.5px;
  margin-right: 30px;
  border: 1px solid #B5B5B5;
  border-radius: 12px;
}


/*Modal*/

.contained-modal-title-vcenter {
  font-family: 'Montserrat Bold';
  font-size: 26px;
  color: #1E1E1E;
  left: 45px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.contained-modal-subtitle {
  font-family: 'Montserrat Semibold';
  font-size: 16px;
  color: #1E1E1E;
  padding-left: 4rem;
}

.modal-arrive-container {
  background-color: #EFEFEF;
  margin: auto;
  padding: 1rem 2rem 2rem 2rem;
  width: 92%;
  border: 1px solid #B5B5B5;
}

.modal-text-container {
  position: relative;
  top: 13px;
}

.asterisk-modal {
  color: #1e1e1e;
  font-size: 1.2rem;
  font-family: 'Montserrat Bold';
}

.title-modal-arrive {
  font-family: 'Montserrat Bold';
  font-size: 22px;
  color: #2899C7;
  position: relative;
  right: 12px;
}

.subtitle-from-arrive {
  font-family: 'Montserrat Medium';
  font-size: 14px;
  color: #666666;
  margin-top: 14px;
}

.subtitle-hotel-arrive {
  font-family: 'Montserrat Medium';
  font-size: 14px;
  color: #666666;
  margin-top: 14px;
}

.selectors-principal-section {
  margin-top: 18px;
}

.selectors-principal-section-c {
  margin-top: 18px;
  position: relative;
  top: 18px;

}

.h-line-modal-moving {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 14px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20px;
  position: relative;
}

.title-second-modal-arrive {
  font-family: 'Montserrat Bold';
  font-size: 22px;
  color: #2899C7;
  position: relative;
  right: 12px;
}

.title-second-modal-comeback {
  font-family: 'Montserrat Bold';
  font-size: 22px;
  color: #2899C7;
  position: relative;
  right: 12px;
  top: 20px;
}

.selectors-second-section {
  margin-top: 18px;
}

.button-modal-moving {
  padding: 4px 17px;
  background-color: #FCB41E;
  color: #1E1E1E;
  border-color: transparent;
  border-radius: 42px;
  margin: 10px 0;
  font-family: 'Montserrat Bold';
  font-size: 12px;
}

/* .button-modal-moving:hover{
    background-color: #FDD278 !important;
    color: #000;
    border: 0px !important;
    padding: 7px 18px;
    font-size: 12px;
    border-radius: 42px;
    bottom: 7px;
    right: 0.5rem;
  } */

.button-modal-moving.disabled {
  background-color: #FDD278;
  cursor: not-allowed;
}

/* .button-modal-comeback {
    border-color: transparent;
    background-color: #FCB41E;
    font-family: 'Montserrat Semibold';
    color: #1E1E1E;
    padding: 7px 18px;
    font-size: 12px;
    border-radius: 42px;
  } */

.modal-moving-body-p {
  padding-bottom: 4rem;
}

.form-label {
  margin-bottom: 0.2rem;
  font-family: 'Montserrat SemiBold';
  font-size: 0.8rem;
  color: #1E1E1E;
}

.subtitle-people-arrive {
  font-family: 'Montserrat Bold';
  font-size: 14px;
  color: #1E1E1E;
}

.subtitle-date-arrive {
  font-family: 'Montserrat Bold';
  font-size: 14px;
  color: #1E1E1E;
}

.subtitle-hours-arrive {
  font-family: 'Montserrat Bold';
  font-size: 14px;
  color: #1E1E1E;
}

.modal-text-container-comeback {
  position: relative;
  top: 13px;
}

.styles-button-modal {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 0 0.6rem 0;
}

.styles-button-modal-round {
  display: flex;
  justify-content: flex-end;
  padding: 1.8rem 0 1.5rem 0;
}

.selector-from-arrive {
  margin: 0;
  font-family: 'Montserrat Bold';
  width: 100%;
  padding: 0.475rem 2.25rem 0.475rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: .935rem;
  line-height: 1.5;
  color: #1E1E1E;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: not-allowed;
}

.selector-from-arrive:focus {
  outline: unset;
}

.selector-people-arrive {
  margin: 0;
  font-family: 'Montserrat Bold';
  width: 100%;
  padding: 0.475rem 2.25rem 0.475rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: .935rem;
  font-weight: 400;
  color: #1E1E1E;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: not-allowed;
}

.selector-people-arrive:focus {
  outline: unset;
}

.selector-date-arrive {
  margin: 0;
  font-family: 'Montserrat Bold';
  width: 100%;
  padding: 0.475rem 2.25rem 0.475rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: .935rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1E1E1E;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: not-allowed;
}

.selector-date-arrive:focus {
  outline: unset;
}

.bullet {
  list-style-type: none;
  margin-right: 5px;
}

.text-warning-round {
  position: relative;
  top: 32px;
  font-family: 'Montserrat Medium';
  font-size: 0.75rem;
  right: 10px;
}

.error-input {
  border: 1px solid red;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  border-color: #7EC2DD !important;
  box-shadow: 0px 0px 3px 0.1rem rgb(126 194 221) !important;
}

.input-obligations {
  color: red !important;
}

.form-control-flight {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem !important;
  font-family: 'Montserrat SemiBold' !important;
  line-height: 1.5;
  color: #666666;
  background-color: var(--bs-form-control-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  /* box-shadow: 0px 0px 3px 0.1rem rgb(126 194 221); */
}

.placeholder-time-modal-m {
  font-family: 'Montserrat SemiBold' !important;
  font-style: italic !important;
  font-size: 0.875rem !important;
  color: #666666 !important;
}

.form-control-flight:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  border-color: #7EC2DD !important;
  box-shadow: 0px 0px 3px 0.1rem rgb(126 194 221) !important;
}

.button-go-back-t {
  margin-top: 2rem;
  position: relative;
  left: 5rem;
  background: transparent;
  border-color: transparent;
  color: #2743A6;
  font-family: 'Montserrat Bold';
  font-size: 1.2rem;
}

.mobile-s-airport {
  margin: 10px 0;
  position: relative;
}

.mobile-s-moving {
  margin: 10px 0;
  position: relative;
}

.mobile-s-contents {
  display: flex;
  margin: 10px 0;
}

.mobile-s-calendarDay {
  margin: 0 5px 0 0;
  position: relative;
}

.mobile-s-Persons {
  position: relative;
}

#tab-search-result-mobile-tabpane-moving>div.mobile-s-contents>div.mobile-s-Persons>div>div {
  width: 16rem;
}

#tab-search-result-mobile-tabpane-moving>div.mobile-s-contents>div.mobile-s-Persons>div>div {
  width: 16rem;
}

#tab-search-result-mobile-tabpane-moving>div.mobile-s-contents>div.mobile-s-Persons>div>div {
  width: 16rem;
}

.people-mobile-text-p {
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
  line-height: 1em;
  top: 0px;
  color: #000;
  left: 2.5rem !important;
  padding: 0px 1.8em !important;
  font-size: 10px;
}

#tab-search-result-mobile-tabpane-moving>div.mobile-s-airport>div>div>div {
  padding-left: 34px;
}

#tab-search-result-mobile-tabpane-moving>div.mobile-s-moving>div>div>div {
  padding-left: 34px !important;
  padding-bottom: 1px !important;
  border-radius: 8px !important;
}

.css-g2z002-MuiSvgIcon-root-MuiPaginationItem-icon {
  color: #B5B5B5 !important;
}

.custom-autocomplete .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  outline: unset !important;
  border: 1.8px solid #7EC2DD ;
  box-shadow: 0px 0px 3px 0.1rem rgb(126 194 221) ;
}

.css-1lambp5 .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 7.5px 4px 7.5px 6px;
  font-family: 'Montserrat Bold' !important;
  font-size: 14px !important;
}

#tab-search-home-tabpane-transportation>fieldset>div>label:nth-child(1)>span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-9l3uo3 {
  color: white !important;
}

#tab-search-home-tabpane-transportation>fieldset>div>label:nth-child(2)>span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-9l3uo3 {
  color: white !important;
}

#tab-search-home-tabpane-transportation>fieldset>div>label:nth-child(3)>span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-9l3uo3 {
  color: white !important;
}

#tab-search-result-mobile-tabpane-moving>fieldset>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(1)>span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-9l3uo3 {
  color: white !important;
  font-size: 11px;
}

#tab-search-result-mobile-tabpane-moving>fieldset>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(2)>span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-9l3uo3 {
  color: white !important;
  font-size: 11px;
}

#tab-search-result-mobile-tabpane-moving>fieldset>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(3)>span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-9l3uo3 {
  color: white !important;
  font-size: 11px;
}

.capacity {
  width: 100%;
  position: relative;
  top: -6px;
  font-family: 'Montserrat Medium';
  font-size: 78%;
  color: #666666;
  list-style-type: none !important;
  padding: 0px;
}

.colum-image-security {
  padding-left: 0px !important;
}

.colum-image-vacations {
  padding: 0px 7px 0px 7px !important;
}

.colum-image-traveling {
  padding-right: 0px !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: 'Montserrat Bold' !important;
}

.form-control::placeholder {
  font-family: 'Montserrat SemiBold' !important;
  font-style: italic !important;
  font-size: 0.875rem !important;
  color: #666666 !important;
}

.colum-mobile-s-calendar {
  padding-right: 0px;
}

.colum-mobile-s-people {
  padding-left: 0px;
}

#tab-search-result-mobile-tabpane-moving>div.row>div.colum-mobile-s-people.col-sm-6>div>div>div {
  width: 17rem !important;
}

#radio-button-home>div>label:nth-child(1)>span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
  font-size: 14px !important;
}

#radio-button-home>div>label:nth-child(2)>span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
  font-size: 14px !important;
}

#radio-button-home>div>label:nth-child(3)>span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
  font-size: 14px !important;
}

#tab-search-result-mobile-tabpane-hotel>div:nth-child(2)>div>div>div {
  padding-left: 34px!important;
  padding-bottom: 0!important;
  border-radius: 8px!important;
  padding-top: 10px !important;
}

#tab-search-result-mobile-tabpane-tour>div:nth-child(2)>div>div>div {
  padding-right: 34px !important;
  padding-left: 34px !important;
  padding-bottom: 1px !important;
  border-radius: 8px !important;
}

#tab-search-result-mobile-tabpane-moving>div.mobile-s-airport>div>div>div {
  padding-left: 34px !important;
  padding-bottom: 1px !important;
  border-radius: 8px !important;
}

.css-hjvdj6 {
  margin: 4px 11px 0px !important;
}


/* Search Hotel */

body>div.fade.modal-hotel-all.modal.show>div>div>div>div>div:nth-child(2)>div.modal-second-hotel-section>div.row-home-search.row>div.styles-input-location-search.col-sm-4>div>div>div {
  padding-left: 22px !important;
  border: 0px solid #B5B5B5 !important;
  height: 45px !important;
  border-radius: 8px !important;
}

/* Search Moving  */

body>div.fade.modal-hotel-all.modal.show>div>div>div>div>div:nth-child(2)>div:nth-child(5)>div.row-home-search.row>div:nth-child(1)>div>div>div {
  padding-left: 22px !important;
  border: 1px solid #B5B5B5 !important;
  height: 45px !important;
  border-radius: 8px !important;
}

body>div.fade.modal-hotel-all.modal.show>div>div>div>div>div:nth-child(2)>div:nth-child(5)>div.row-home-search.row>div:nth-child(2)>div>div>div {
  padding-left: 22px !important;
  border: 1px solid #B5B5B5 !important;
  height: 45px !important;
  border-radius: 8px !important;
}

/* Search Tour */

body>div.fade.modal-hotel-all.modal.show>div>div>div>div>div:nth-child(2)>div.modal-second-tour-section>div.row-home-search.row>div.col-sm-4>div>div>div {
  padding-left: 22px !important;
  border: 1px solid #B5B5B5 !important;
  height: 45px !important;
  border-radius: 8px !important;
}

body>div.fade.modal-hotel-all.modal.show>div>div>div>div>div:nth-child(2)>div.modal-second-tour-section>div.row-home-search.row>div:nth-child(3)>span {
  padding: 0px !important;
}

body>div.fade.modal-hotel-all.modal.show>div>div>div>div>div:nth-child(2)>div:nth-child(5)>div.row-home-search.row>div:nth-child(4)>span {
  padding: 0px 4px !important;
}

body>div.fade.modal-hotel-all.modal.show>div>div>div>div>div:nth-child(2)>div.modal-second-hotel-section>div.row-home-search.row>div:nth-child(3)>span {
  padding: 0px !important;
}

body>div.fade.modal-hotel-all.modal.show>div>div>div.modal-body>div>div:nth-child(1)>div.result-moving-m>div.row-home-search.row>div:nth-child(4)>div>div {
  width: 150% !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(1)>span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
  color: #1E1E1E !important;
  font-family: 'Montserrat Medium' !important;
  font-size: 14px;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(2)>span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
  color: #1E1E1E !important;
  font-family: 'Montserrat Medium' !important;
  font-size: 14px;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(3)>span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
  color: #1E1E1E !important;
  font-family: 'Montserrat Medium' !important;
  font-size: 14px;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(1)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-vqmohf-MuiButtonBase-root-MuiRadio-root>span.css-hyxlzm>svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1hbvpl3-MuiSvgIcon-root {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(1)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(1)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-vqmohf-MuiButtonBase-root-MuiRadio-root>input {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(1)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-vqmohf-MuiButtonBase-root-MuiRadio-root>input {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(1)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-vqmohf-MuiButtonBase-root-MuiRadio-root>span.css-hyxlzm {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(2)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(2)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(3)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(3)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-vqmohf-MuiButtonBase-root-MuiRadio-root>input {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-dmmspl-MuiFormGroup-root>label:nth-child(3)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-vqmohf-MuiButtonBase-root-MuiRadio-root>span.css-hyxlzm {
  color: #1E1E1E !important;
}

#radio-button-modal>div.row-home-search.row>div:nth-child(1)>div>div>div {
  height: 45px !important;
  padding-left: 22px !important;
  border: 1px solid #B5B5B5 !important;
  border-radius: 8px !important;
}

#radio-button-modal>div.row-home-search.row>div:nth-child(2)>div>div>div {
  height: 45px !important;
  padding-left: 22px !important;
  border: 1px solid #B5B5B5 !important;
  border-radius: 8px !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(1)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-1a5icme>input {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(1)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-1a5icme>span.css-hyxlzm {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(1)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-1a5icme>span.MuiTouchRipple-root.css-w0pj6f {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(1)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-1a5icme>input {
  color: #1E1E1E !important;
}

#radio-button-modal {
  width: 100%;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(2)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-1a5icme {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(2)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-1a5icme>input {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(2)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-1a5icme>span.css-hyxlzm {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(2)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-1a5icme>input {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(3)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-1a5icme {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(3)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-1a5icme>input {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(3)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-1a5icme>span.css-hyxlzm {
  color: #1E1E1E !important;
}

#radio-button-modal>div.MuiFormGroup-root.radio-button-moving.css-1h7anqn>label:nth-child(3)>span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary.ratio-button-text.css-1a5icme>input {
  color: #1E1E1E !important;
}

.image-no-availability-h {
  font-size: 1.2rem;
  text-align: left;
  font-family: 'Montserrat Bold';
  color: #1E1E1E;
  margin-left: 3.5rem;
  padding-top: 6rem;
  padding-bottom: 1rem;
}

.styles-moving-button-modal-m {
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding: 0px;
}

.moving-facility-modal-carousel {
  display: flex;
  position: relative;
  top: 0.3rem;
  right: 12px;
}

.card-info-tour-modal {
  position: relative;
    height: 80px;
    padding: 1rem;
}

.card-price-tour-modal {
  height: 72px;
  padding: 1rem;
  display: flex;
  margin: 0px;
}
