/* NEW NAVBAR */
.container-nav{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.container-call-icons-nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.networks-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-color {
  background-color: #ffffff !important;
  /* min-height: 10rem; */
  position: relative;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid #b5b5b5;
}

.description-contact-nav {
  color: white;
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
}

.container-navbar-bl {
  position: absolute;
  left: 0;
  padding: 1.5rem;
  background-color: #2743a6;
  border-radius: 0 0 5rem 0;
  width: 39%;
  height: 10%;
  z-index: 0;
  top: 0;
}

.container-contact {
  display: flex;
  width: auto;
  color: white;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  gap: 2rem;
}

.icon-call-nav-bar {
  width: 24px;
}

.description-contact-nav {
  font-family: "Montserrat SemiBold";
}

.contact-number-nav {
  font-family: "Montserrat Bold";
}

.network-nav {
  width: 18px;
  cursor: pointer;
}

.services-nav {
  font-size: 1rem;
  font-family: "Montserrat Bold";
  color: #666666;
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.services-nav:hover {
  color: #eb741e;
}

.call-number-nav {
  display: flex;
  gap: 0.5rem;
  position: relative;
  & .line-description-dev {
    display: none;
  }
}

.call-number-nav:hover {
  & .line-description-dev {
    display: inline;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid white;
  }
}
/* END  NEW NAVBAR */

@media screen and (max-width: 1200px) {
  .container-navbar-bl {
    width: 45%;
  }
}

@media screen and (max-width: 1000px) {
  .container-navbar-bl {
    width: 56%;
  }
  .call-number-nav,
  .description-contact-nav {
    align-items: center;
  }

  .icon-call-nav-bar {
    width: 17px;
    height: 20px;
  }
}

@media screen and (max-width: 770px) {
  .navbar-color{
    padding-bottom: 0.2rem;
  }
  .container-nav{
    gap: 0.2rem;
  }

  .container-navbar-bl {
    width: 67%;
  }

  .call-number-nav {
    gap: 0.2rem;
  }

  .container-call-icons-nav {
    gap: 0.5rem;
  }

  .networks-nav {
    gap: 0.4rem;
  }
  
  .description-contact-nav {
    gap: 0.3rem;
  }

  .contact-text-nav {
    font-size: 0.6rem;
  }
  
  .contact-number-nav {
    font-size: 0.6rem;
  }
}
