.m-navigation {
  display: none !important;
}

.name-logo {
  /* width: 100%; */
  height: 49px;
}

.m-currency {
  display: none;
}

.m-language {
  display: none;
}

/* @media only screen and (max-width: 768px) { */

@media screen and (max-width:1380px) {
  #modal-tour-l {
    max-width: 78%;
  }
}


@media screen and (max-width:1060px) {
  #modal-tour-l {
    max-width: 87%;
  }
}

@media only screen and (max-width: 1000px) {
  /* FOOTER MOBILE */

  .m-image-footer {
    width: 100% !important;
  }

  .logo-footer-img {
    width: 228px;
    height: 100%;
  }

  .footer-basic .social {
    padding-top: 1rem;
    padding-bottom: 0px;
  }

  .text-footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 0;
    width: 100%;
  }

  #root>div.footer-basic>footer>div>div.row>div.text-footer.col-sm-4>div:nth-child(2)>a:nth-child(3)>img {
    margin-bottom: 0px;
  }

  #root>div.footer-basic>footer>div>div.row>div.text-footer.col-sm-4>div.contact-elements-footer>a:nth-child(4) {
    margin: 0 3rem;
  }

  .label-link-footer {
    font-size: 0.75rem;
  }

  .m-footer-logo {
    width: 20px;
  }

  #root>div.footer-basic>footer>div.m-footer-row.row>div.text-footer.col-sm-4>div.contact-elements-footer>a:nth-child(4) {
    margin: 0 28px;
  }

  #root>div.footer-basic>footer>div.m-footer-row.row>div.text-footer.col-sm-4>div.contact-elements-footer>a:nth-child(4)>img {
    position: relative;
    bottom: 7px;
  }

  .subText-footer {
    font-size: 0.75rem;
  }

  .text-footer2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
  }

  .contact-elements-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-footer3 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
  }

  .footer-basic .copyright {
    margin-top: 67px;
    font-size: 0.625rem;
  }

  /* END FOOTER */

  /* TWO CAROUSEL HOME HOTEL */

  .carousel-destination {
    height: auto;
    margin-top: 2rem;
    margin-bottom: 1.7rem;
    position: relative;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    display: none;
  }

  #m-swiper-modal>div.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
    color: white;
    display: block !important;
    font-family: "Montserrat Bold";
  }

  .location-card-carousel-plan {
    line-height: 1;
    margin: 0;
    padding-top: 9px;
  }

  .top-destination {
    height: auto !important;
  }

  .container-principal-home {
    height: 10vh;
    margin-top: 3rem !important;
    margin-bottom: 1.5rem !important;
  }

  .text-image-nex-h4 {
    font-size: 10px;
  }

  .text-image-new-h2 {
    font-size: 14px !important;
  }

  .m-scroll-options {
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0.6rem;
  }

  .name-hotel-second-carousel-home {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .money-second-carousel-home {
    font-size: 14px;
  }

  .night-second-carousel-home,
  .hotel-from-second-carousel-home {
    font-size: 11px;
  }

  .ElementTitle-carousel {
    font-size: 1rem;
    height: auto !important;
  }

  .location-card-carousel-plan {
    font-size: 0.75rem;
    height: auto;
  }

  .position-text-new-titles {
    padding-left: 46px;
    width: 70%;
  }

  .container-principal-home {
    padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  }

  .title-popular {
    font-size: 1.5rem;
    margin-bottom: 0.9rem;
    /* width: 18rem; */
  }

  /* END TWO CAROUSEL HOME HOTEL */

  /* NAVIGATION */
  .navigation-size {
    height: 57px !important;
  }

  .mobile.number-navigation {
    height: 22px;

    & span {
      font-family: "Montserrat Bold" !important;
      font-size: 10px !important;
      color: #666666 !important;
    }
  }

  .d-navigation {
    display: none !important;
  }

  .m-navigation {
    display: flex !important;
    /* flex-wrap: nowrap !important; */
  }

  .name-logo {
    /* width: 100%; */
    height: 30px;
  }

  .d-currency {
    display: none;
  }

  .m-currency {
    display: flex;
  }

  .m-icon-money {
    border: none !important;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
  }

  .d-language {
    display: none;
  }

  .m-language {
    display: flex;
  }

  .icon-currencies {
    width: 20px;
    height: 100%;
  }

  .m-icon-card {
    margin: 0 !important;
  }

  .navigation-icon-img {
    height: 20px;
    width: 100%;
  }

  .navigation-icon-text {
    font-size: 12px;
    font-family: "Montserrat Bold";
  }

  .navigation-icons {
    gap: 2.8em;
    width: auto;
  }

  .navigation-second {
    margin: 0;
    width: auto;
  }

  .m-currency-list {
    font-size: 16px;
    font-family: "Montserrat Bold";
    color: #666666;
    display: flex;
    gap: 7px;
    border: none;
    background-color: transparent;
  }

  .m-line-offCanvas {
    width: 93%;
    height: 1px;
    opacity: 0.5;
    background-color: #b5b5b5;
    margin: auto;
  }

  .offcanvas-title {
    font-size: 20px;
    font-family: "Montserrat Bold";
    margin-left: 3rem;
  }

  /* .offcanvas-body {
    margin-left: 1.2rem;
    margin-top: 12px;
  } */

  .icon-check-language {
    width: 24px;

    & svg {
      width: 17px;
    }
  }

  .offcanvas.offcanvas-end {
    width: 90% !important;
  }

  /* END NAVIGATION */

  /* BANNER SEARCH BOX */
  .size-send-hotel {
    min-height: 190px;
  }

  .text-image-new-h1 {
    top: 22%;
    height: auto;
    font-size: 16px;
  }

  .content-image-search {
    position: relative;
    padding: 0 12px !important;
    height: 28rem !important;
    /* height: auto !important; */
  }

  .text-input-search-hotel {
    /* margin-left: 30px; */
    position: relative;
    /* top: 4px; */
    top: 0;
    font-family: "Montserrat Bold";
    color: black;
  }

  .text-input-search-hotel-placeHolder {
    /* margin-left: 30px; */
    font-style: oblique;
  }

  .m-icon-out-line {
    width: 13px !important;
  }

  /* END BANNER SEARCH BOX */

  /* SEARCH BOX */

  .input-search-hotel {
    background: white;
    border: 1px solid #b5b5b5;
    border-radius: 8px;
    font-size: 14px;
    font-family: "Montserrat Semibold";
    color: #666666;
    padding: 7px 7px 7px 1.4em;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .calendar-results {

    width: 100vw;
  }

  .modal-input-dates-range {
    font-size: 13px;
    font-family: "Montserrat Semibold";
    color: #666666;
    white-space: nowrap;
    align-items: center;
  }

  .css-i4bv87-MuiSvgIcon-root {
    display: none !important;
  }

  .search-content-home.mobile-version {
    height: 100vh;
  }

  .search-content-home {
    padding: 1rem 32px 2rem 32px !important;
  }

  .banner-home-hotel {
    width: 100%;
    height: 219px !important;
    object-fit: cover !important;
    /* height: auto; */
  }

  .Element-tabHome {
    top: -3.9em;
    /* top: -11.9em; */
  }

  .nav-link {
    padding: 10px 0 !important;
    width: 77px !important;
    font-size: 10px !important;
  }

  .titleSearch {
    font-family: "Montserrat Bold";
    font-size: 16px;
  }

  .span-location-home-r,
  .span-date-home-r,
  .span-rooms-home-r {
    left: 3.5em !important;
    font-size: 7px !important;
    margin-left: 23px !important;
  }

  .css-1wuilmg-MuiAutocomplete-root .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
    font-family: "Montserrat SemiBold" !important;
    padding: 0 !important;
    font-size: 12px;
  }

  .css-1wuilmg-MuiAutocomplete-root {
    height: auto !important;
    padding: 2px;
  }

  #tab-search-home-tabpane->div.row-home-search.row>div.col-sm-4>div>div>div {
    padding-left: 37px !important;
    padding-bottom: 4px !important;
  }

  .icon-date-home,
  .icon-location-home,
  .icon-room-search,
  .icon-person-search {
    width: 13px !important;
    left: 33px;
  }

  .icon-date-home {
    top: 50% !important;
  }

  .person-search {
    right: 0;
  }

  .icon-location-home {
    top: 49%;
  }

  #check-in {
    font-family: "Montserrat Bold" !important;
    font-size: 14px;
    height: 37px !important;
    color: black;
    font-style: normal;
  }

  #check-in::placeholder {
    font-family: "Montserrat SemiBold" !important;
    font-size: 14px;
    transform: rotate(0deg) !important;
  }

  .row-home-search {
    gap: 14px !important;
    justify-content: center;
  }

  .row-home-search.mobile-search {
    margin-top: 1.8em;
  }

  .style-relative-room {
    border: none !important;
    padding: 0 12px;
  }

  .room-capacity {
    font-size: 12px;
    font-family: "Montserrat Bold";
    margin-left: 9px;
  }

  .dropdown-room {
    justify-content: space-between !important;
    height: auto !important;
    padding: 5px 21px !important;

    & span {
      padding: 0 !important;
    }
  }

  .button-apply-room {
    width: 95px !important;
  }

  .button-search-page-search,
  .button-apply-room {
    margin: 0 !important;
    height: 30px !important;
    font-size: 12px !important;
    font-family: "Montserrat Bold";
    text-transform: none !important;
  }

  .dropdown-toggle::after {
    display: none !important;
  }

  .center-grid-mobile {
    display: flex;
    justify-content: center;
  }

  .styles-input-location-search,
  .margin-mobile-search,
  .margin-mobile-search {
    width: 100% !important;
  }

  .input-room {
    gap: 30%;
    /* margin-left: 12px; */
  }

  .css-i4bv87-MuiSvgIcon-root {
    display: block !important;
  }

  .css-10wpov9-MuiTypography-root {
    font-family: "Montserrat Bold" !important;
    font-size: 12px !important;
    color: black !important;
    /* margin-top: 22px !important; */
  }

  .subtitle-col-room {
    font-family: "Montserrat Bold" !important;
    font-size: 16px !important;
  }

  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    top: -5px !important;
  }

  .m-scroll-card {
    max-height: 76vh;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
  }

  .m-scroll-card::-webkit-scrollbar {
    width: 5px;
  }

  .m-scroll-card::-webkit-scrollbar-track {
    background: transparent;
  }

  .m-scroll-card::-webkit-scrollbar-thumb {
    background-color: #2d3186;
    border-radius: 0px;
    border: 3px solid #2d3186;
  }

  .MuiAutocomplete-popper.css-1s5lphu-MuiPopper-root-MuiAutocomplete-popper.MuiPopper-root {
    transform: translate3d(0px, 170.5px, 0px) !important;
    width: 100% !important;
    /* top: 14rem!; */
  }

  .MuiPopper-root.MuiAutocomplete-popper.css-1mtsuo7 {
    transform: translate3d(0px, 170.5px, 0px) !important;
    width: 100% !important;
  }

  .css-9e5uuu-MuiPaper-root-MuiAutocomplete-paper {
    box-shadow: none !important;
  }

  .css-t4hinj {
    box-shadow: none !important;
  }

  .MuiAutocomplete-hasPopupIcon.css-1pfgy4j .MuiOutlinedInput-root,
  .MuiAutocomplete-hasClearIcon.css-1pfgy4j .MuiOutlinedInput-root {
    padding: 0 !important;
  }

  .input-people {
    margin-left: 4px;
    color: black;
    font-family: "Montserrat Bold";
  }

  .m-more-cards {
    background: transparent;
    border-color: transparent;
    color: #eb741e;
  }

  .m-center {
    display: grid;
    justify-content: center;
  }

  .scroll-top-button {
    position: fixed;
    bottom: 9rem;
    right: 14px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
  }

  /* Animación opcional */
  /* @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .scroll-top-button {
    animation: bounce 2s infinite;
  } */

  .container-facilities {
    display: flex;
  }

  .css-1pfgy4j .MuiOutlinedInput-root .MuiAutocomplete-input {
    padding: 7.5px 58px 7.5px 5px !important;
  }

  .custom-autocomplete .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: none !important;
    box-shadow: none !important;
  }

  .button-room-page-search {
    max-height: max-content;
    /* max-height: 10%; */
    border-top: 1px solid #b5b5b5;
    padding: 16px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: white;
    left: 0;
  }

  .divider-room{
    height: 10.4rem;
  }

  /* END SEARCH BOX */

  /* CARROUSEL */
  .c-popular-swiper {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: flex-end;
    position: relative;
    /* width: 242px !important; */
    /* margin-right: 38px !important; */
  }

  #root>article.top-destination>div>div>div.swiper-wrapper>div.swiper-slide.c-popular-swiper.swiper-slide-active>span {
    height: 72%;
  }

  .img-lazy-popular {
    border-radius: 9px 9px 0px 0px;
    height: 100%;
    width: 100%;
  }

  .popular-c-text {
    position: unset;
    height: 21.6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 9px;
  }

  .swiper-wrapper {
    height: auto;
  }

  .popular-carousel-h {
    padding: 0;
    height: auto;
  }

  .container-image-carrousel {
    height: 20rem;
    width: 100%;
  }

  .container-carrousel {
    margin-top: 21px;
  }

  .description-plan-carrousel {
    height: 19%;
  }

  .card-transition-carousel-all {
    width: auto !important;
  }

  /* END CARROUSEL */

  /* MODAL HOTEL */

  .header-dialog-modal {
    position: sticky;
    top: -57px;
    background: white;
    z-index: 3;
    box-shadow: 0px 15px 10px -13px #bebebe;
  }

  .calendar-update-hotel {
    gap: 5px;
    margin: 0;
  }

  #modal-tour-l {
    max-width: 100%;
  }

  .icon-go-back {
    margin-top: 10px !important;
  }

  body>div.fade.modal.show {
    padding-left: 0% !important;
  }

  /* .modal.show .modal-dialog {
    max-width: 80% !important;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  .close-icon-title-hotel-modal {
    flex-direction: row-reverse !important;
    justify-content: space-between;
    margin-top: 12px;
  }

  .container-start-modal {
    padding-bottom: 10px !important;
  }

  .m-icon-calendar,
  .m-icon-total-people {
    width: 18px;
  }

  .m-container-total-people,
  .calendar-update-hotel #check-in {
    font-size: 13px;
  }

  .button-update-hotel {
    padding: 14px 0;
  }

  .row-update-hotel {
    padding: 0 0 0 0.6em;
  }

  .modal-hotel-title {
    font-size: 22px;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .modal-hotel-subtext {
    display: none;
  }

  body>div.fade.modal-hotel-all.modal.show>div>div>div.modal-body>div>div.m-container-carousel-modal-hotel>div>div.swiper-pagination.swiper-pagination-fraction.swiper-pagination-horizontal {
    display: block !important;
    color: white;
  }

  .m-image-modal-hotel {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
  }

  .m-swiper-modal-hotel {
    width: 100%;
    height: auto;
  }

  .m-container-carousel-modal-hotel {
    height: auto;
  }

  .modal-body {
    padding: 0;
  }

  body>div.fade.modal-hotel-all.modal.show>div>div>div.modal-body>div {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-horizontal {
    width: 100%;
    /* height: 100%; */
    height: 100%;
  }

  .swiper-wrapper {
    height: 100%;
  }

  #dates-tour-modal {
    height: auto;
  }

  #date-tour-modal {
    /* width: auto !important; */
  }

  .line-divided-hotel-modal {
    width: 100%;
    height: 1px;
    background: #b5b5b5;
  }

  .room-option-modal {
    justify-content: space-between;
    width: 100%;
  }

  .room-option-divider,
  .room-individual-h {
    padding-left: 14px;
    padding-top: 12px;
    width: 50%;
    border-bottom: 0.1px solid #c1bdbd;
    height: 100%;
  }

  .room-second-divider,
  .room-second-individual {
    width: 50%;
    padding: 0 15px 0 0;
    border-bottom: 0.1px solid #c1bdbd;
    height: 100%;
  }

  .room-container-hotel {
    flex-wrap: nowrap;
  }

  .room-first-container {
    /* width: 34%; */
    width: 45%;
    padding: 0.5rem 0.5rem;
  }

  .modal-type-rh {
    width: 32%;
    border-radius: 9px 0 0 0;
  }

  .modal-type-select {
    border-radius: 0 9px 0 0;
  }

  .modal-type-data,
  .modal-type-select {
    width: 36%;
    z-index: 0;
  }

  .modal-type-data,
  .modal-type-rh,
  .modal-type-select {
    font-size: 10px;
    box-shadow: none;
  }

  .modal-room-title-h {
    font-size: 12px;
  }

  .modal-room-li {
    font-size: 7px;
  }

  .list-facility-card-h {
    padding-left: 1rem !important;
  }

  .list-facility-card-h li {
    font-size: 10px;
  }

  .divider-info-person,
  .divider-info-bed,
  .divider-info-bed {
    font-size: 9px;
  }

  .modal-hotel-price {
    font-size: 11px;
  }

  .card-hotel-price-number {
    font-size: 14px !important;
  }

  .booking-li-room {
    font-size: 9px;
    text-align: center;
  }

  .itinerary-no-show {
    font-size: 1rem !important;
  }

  .itinerary-no-text {
    font-size: 0.7rem !important;
  }

  .line-modal-hotel-information {
    width: 100%;
    /* height: 1px; */
    border: 1px solid #b5b5b5;
    /* opacity: 0.8; */
  }

  .line-open-dialog-hotel {
    position: relative;
    top: -19.6px;
    width: 100%;
  }

  .line-icon-hotel {
    width: 100%;
  }

  .show-less-icon-hotel {
    position: absolute;
    display: flex;
    width: 100%;
    top: 19px;
    left: 0;
  }

  .open-dialog-modal-hotel {
    width: 88px;
    height: 17px;
    border-radius: 40% 40% 10% 10%;
    background-color: transparent;
    border: 1px solid #b5b5b5;
    border-bottom: 0px;
  }

  .m-container-modal-title {
    font-family: "Montserrat Bold";
    font-size: 13px;
    color: #2743a6;
  }

  .m-container-modal-empty-room {
    font-family: "Montserrat Medium";
    font-size: 10px;
  }

  .card-hotel-taxes {
    font-size: 9px;
  }

  .m-nights-person {
    font-family: "Montserrat SemiBold";
    font-size: 9px;
    color: #666666;
  }

  .m-nights-person.dialog-nights {
    font-size: 12px;
  }

  .modal-hotel-price.dialog-nights {
    font-size: 15px;
  }

  .card-hotel-taxes.dialog-nights {
    font-size: 10px;
  }

  .booking-deleted {
    position: relative;
    top: 0;
    right: 0;
    font-family: "Montserrat Bold";
  }

  .booking-title {
    font-size: 12px;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .booking-title.modal-dialog {
    width: 100%;
    white-space: wrap;
  }

  .room-add-button {
    padding: 6px 15px;
  }

  .room-add-button.mobile {
    padding: 6px 7px;
    font-size: 9px;
    font-family: "Montserrat Bold";
  }

  .booking-reservation {
    padding: 0.5em !important;
    max-width: 95%;
    margin-top: 0.8rem;
  }

  .booking-li {
    font-size: 9px;
  }

  .container-modal-price {
    padding: 0;
  }

  .modal-type-room {
    height: 3em;
    justify-content: space-between;
    background-color: #efefef;
  }

  .tooltipUp-cancellations {
    display: none;
  }

  .room-option-button {
    height: auto;
    width: auto;
  }

  .room-second-container {
    width: 100%;
  }

  .room-individual-h {
    width: 50%;
    padding-left: 14px;
    padding-top: 1rem;
  }

  .room-second-individual {
    padding: 20px 12px 0 0;
  }

  .room-individual-button {
    height: auto;
    width: auto;
    margin-top: 13px;
  }

  .distinguished-svg-individual {
    top: 12px;
    right: 2.6%;
  }

  .distinguished-svg {
    top: 13.8%;
  }

  /* Revisar que no se rompa otra cosa */
  .tooltipUp-cancellations {
    text-align: center;
  }

  .css-ypiqx9-MuiDialogContent-root,
  .css-1ty026z {
    padding: 57px 0 0 0 !important;
    overflow-x: hidden;
  }

  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background-color: transparent !important;
  }

  .m-component-info {
    background: white;
  }

  .m-component-info-search,
  .m-component-info-room {
    background: white;
    height: 100%;
  }

  .content-bottom-open-dialog {
    position: fixed;
    bottom: 0;
    background-color: white;
    max-height: 8em;
    padding: 0 0 10px 0;
    width: 100%;
    left: 0;
  }

  .card-hotel-button-booking {
    height: 39px;
  }

  .card-hotel-booking-dialog {
    height: auto;
    display: flex;
    position: relative;
    /* bottom: 12px; */
    border-top: 1px solid #b5b5b5;
    padding-top: 4px;
  }

  .card-reservation-details {
    display: flex;
    flex-direction: column;
    height: 87%;
  }

  .m-rooms-selected-dialog {
    max-height: 90%;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    /* margin-bottom: 3em; */
  }

  .alert-text-amount {
    font-size: 12px !important;
  }

  .alert-subtext-declined {
    font-size: 12px !important;
  }

  /* END MODAL HOTEL */
  .room-option-modal:hover,
  .room-option-individual:hover {
    background-color: #fff;
    box-shadow: none !important;
    border: none;
    transform: none;
    border: none;
  }

  .room-option-individual {
    border-bottom: none;
  }

  .selected-room {
    border-bottom: 3px solid #2743a6 !important;
  }

  .offcanvas-header {
    padding: 26px 0 12px 13px;
  }

  .styles-footer-modal {
    height: 100% !important;
  }

  .position-r-status {
    width: 50%;
  }

  .styles-button-modal-options {
    width: 50%;
  }

  .text-money-price {
    font-size: 10px;
    padding-top: 15px;
  }

  .text-price-total {
    font-size: 16px;
  }

  .taxes-price-total {
    font-size: 10px;
  }

  .modal-button-next {
    padding: 5px 27px;
    font-size: 1rem;
  }

  .m-search-skeleton {
    border-radius: 36px !important;
    margin-top: 4em;
  }

  /* DIALOG CALENDAR */

  .month-calendar {
    display: flex;
    justify-content: center;
  }

  .calendar-container {
    /* margin: 8em 0 3em 0; */
    background-color: white;
    /* height: 40em; */
    /* overflow-y: scroll; */
  }

  .container-calendar-m {
    height: 100%;
    overflow: scroll;
    padding-bottom: 12em;
    background-color: white;
  }

  .button-calendar-apply {
    position: sticky;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background: white;
    left: 0;
    z-index: 300;
  }

  .m-calendar-input {
    position: sticky;
    /* position: fixed; */
    top: 0;
    background: white;
    width: 100%;
    z-index: 300;
    left: 0;
  }

  .flatpickr-next-month,
  .flatpickr-prev-month {
    display: none;
  }

  .flatpickr-calendar.inline {
    box-shadow: none;
  }

  /* FILTER LISTING */
  .container-all-filters {
    margin-top: 0;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 4em;
  }

  .filter-title {
    padding-top: 0;
  }

  .h-line {
    margin: 0;
  }

  .container-button-apply-price {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container-dialog-order {
    height: 85%;
  }

  .container-dialog-search {
    height: 100%;
    overflow-y: hidden;
  }

  .image-do-not-fund {
    width: 100%;
    object-fit: cover;
  }

  .image-no-availability-h {
    font-size: 14px;
    margin-left: 1.5rem;
  }

  .m-txt-nav {
    font-size: 16px;
    font-family: "Montserrat Bold";
    text-align: center;
    padding-top: 10px;
  }

  .m-box-linear {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: -226px;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .m-box-linear-listing {
    left: 0;
    width: 100%;
    z-index: 1000;
    bottom: 0rem;
    position: sticky;
    top: 3.7rem;
  }

  .css-7p5u54 {
    width: 100% !important;
  }

  /* .css-7p5u54.listing {
    top: 0 !important;
    bottom: 50em !important;
  } */

  .css-fvipm8 {
    border: 1px solid #b5b5b5;
  }

  .m-h-100 {
    height: 100%;
  }

  /* #m-loading-modal {
    height: 50%;
  } */

  #m-loading-modal>div {
    height: 100%;
    padding: 30px;
  }

  .m-text-loading {
    font-size: 20px !important;
    text-align: center;
    font-family: "Montserrat Bold";
  }

  /* END FILTER LISTING */

  /* DIALOG */
  .m-component-p-top {
    padding-top: 41px;
    height: auto;
    /* height: 100%; */
  }

  .container-dialog {
    background-color: white;
    height: 100%;
    border: 1px solid #b5b5b5;
    position: relative;
    /* overflow-y: hidden; */
  }

  .container-dialog.color-blue-d {
    background-color: #2743a6;
    border: none;
  }

  .close-dialog-button {
    position: relative;
    top: -20px;
    width: 100%;
  }

  /* END DIALOG */

  /* MODAL HOTEL OPTION */
  .line-dialog-header {
    position: relative;
    top: -11px;
    width: 100%;
  }

  .m-component-info.modal-hotel {
    border-radius: 3px 3px 0 0;
  }

  /* END MODAL HOTEL OPTION */

  /* PAGE NOT FOUNT */
  .container-text-404 {
    justify-items: center;
    padding-bottom: 2.5rem;
    /* border-bottom: 1px solid #B5B5B5; */
  }

  /* END PAGE NOT FOUNT */

  /* TOOLTIP CONFIG */

  .tooltip-select-l {
    left: 12px;
    top: -3rem;
    padding: 1rem;
    width: 10rem;
  }

  .tooltip-select-l::before {
    top: 4.1rem;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  @keyframes tooltip-l-m {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  /* END TOOLTIP CONFIG */

  /* WHATSAPP ICON */
  .whatsapp-royal-app {
    right: 18px;
    bottom: 6rem;

    & img {
      width: 3rem;
      height: 3rem;
    }
  }

  /* END  WHATSAPP ICON */

  /* SKELETON BANNER TOUR */
  .skeleton-banner-tour {
    height: 15rem !important;
  }

  /* END SKELETON BANNER TOUR */

  .span-people-home-r{
    left: 44% !important;
  }
}

@media screen and (max-width: 1050px) {
  .grey-container {
    width: 33%;
  }
}



@media screen and (max-width: 991px) {
  .grey-container {
    /* width: 45%; */
    width: 36%;
  }

  .father-info-itinerary {
    width: 86% !important;
  }

  .cont-img-card-hotel {
    width: 29% !important;
    height: 95px !important;
  }
}

@media screen and (max-width: 800px) {
  .grey-container {
    width: 100%;
  }

  .container-cookie-banner{
    flex-direction: column;
  }

  .p-cookie-royal{
    width: 88%;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1.4rem;
    font-size: 12px;
    
  }
  
  .btn-cookie-royal{
    font-size: 13px;
  }

  .cont-img-text-banner-call{
    margin-bottom: 4rem !important;
  }
}

@media screen and (max-width: 500px) {
  .skeleton-banner-tour {
    height: 11rem !important;
  }

  .cont-img-text-banner-call {
    margin-bottom: 2rem;
  }

  .text-we-found-tour{
    font-size:.9rem !important;
  }

  .span-people-home-r{
    left: 40% !important;
  }

}