/* @media (max-width: 767px) { */

@media only screen and (max-width: 1000px) {
  /* body {
      font-size: 16px;
  } */

  .row-steeper-i {
    height: auto !important;
    margin: 3.3rem 0 1.6rem !important;
  }

  .row-stepper-text {
    bottom: 19px !important;
  }

  .span-stepper-text {
    font-size: 12px !important;
  }

  .span-stepper-text-inactive {
    font-size: 12px !important;
  }

  .display-title-button-share {
    margin-top: 0rem !important;
  }

  .itinerary-title-page {
    font-size: 18px !important;
    margin: 0 !important;
  }

  .button-share-itinerary {
    padding: 0 !important;
    font-size: 12px !important;
  }

  

  .next-steep-button-itinerary {
    display: flex;
    padding: 0.5rem 2.1rem;
    align-items: center;
    justify-content: center;
    background-color: #fcb41e;
    border: 0;
    border-radius: 100px;
    font-size: 0.8rem;
    font-family: "Montserrat Bold";
    text-wrap: nowrap;
    gap: 0.3rem;
    color: black;
  }

  .itinerary-subtitle-page {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 1rem;
  }

  .m-fit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .styles-button-share {
    justify-content: center;
    align-items: center;
  }

  .m-itinerary-h {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 0px;
    /* margin: 10px 0 18px; */
    justify-content: flex-end;
  }

  .m-image-itinerary {
    /* width: 5%; */
  }

  .m-card-itinerary {
    width: 97%;
    /* width: 95%; */
    margin: 0;
    min-height: 11rem;
    border-radius: 8px;
    border: 1px solid #f3ac78;
    display: flex;
    position: relative;
    &.incomplete-information {
      border: 1px solid #ed2630;
    }
  }

  .m-image-itinerary-h {
    width: 25%;
  }

  .m-text-itinerary-h {
    width: 75%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .m-object-fit {
    object-fit: cover;
    object-position: center center;
    border-radius: 8px 0 0 8px;
  }

  .m-min-h {
    min-height: 30rem;
    /* overflow-x: hidden; */
  }

  .m-scroll-i {
    overflow-x: hidden;
  }

  .card-remove {
    width: 100%;
    min-height: 11rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem 0 0;
    background-color: #ed2630;
    border-radius: 8px;
    border: none;
    transition: width 1s ease;
  }

  .height-div-card {
    min-height: 0;
  }

  .m-info-itinerary {
    /* width: 30% !important; */
    display: flex;
    justify-content: flex-start;
  }

  .m-info-payments-c {
    width: 30% !important;
    display: flex;
    justify-content: flex-start;
  }

  .m-info-hotel-a {
    display: block;
    width: 60px;
  }

  .m-info-hotel-i {
    display: none;
  }

  .m-card-itinerary-r {
    position: relative;
    left: 1rem;
  }
  .m-card-confirmation-p {
    position: relative;
    left: 1rem;
  }

  .date-moving-itinerary {
    font-size: 12px;
  }

  .m-image-left {
    position: relative;
    left: 20px;
  }

  .date-moving-calendar {
    font-size: 12px;
  }

  .time-moving-itinerary {
    font-size: 10px;
  }

  .location-moving-itinerary {
    font-size: 10px;
  }

  .m-name-hotel-c {
    font-family: "Montserrat Bold";
    font-size: 12px;
    color: #f3ac78;
  }

  .m-name-is-h {
    font-family: "Montserrat Bold";
    font-size: 12px;
    color: #1e1e1e;
  }

  .m-text-location-h {
    font-family: "Montserrat Bold";
    font-size: 12px;
    color: #666666;
  }

  .m-i-location-h {
    width: 10px;
  }

  .header-accordion-itinerary {
    width: 88%;
    font-size: 10px;
  }

  .margin-icon-accordion {
    width: 15px;
  }

  .m-pd-0 {
    padding: 0 !important;
  }

  .info-bed-card-itinerary {
    font-size: 8px;
    padding-right: 8px !important;
  }

  .m-icon-bed {
    width: 10px;
    margin-right: 4px;
  }

  .info-people-card-itinerary {
    font-size: 8px;
  }

  .wdt-10 {
    width: 10px;
  }

  .m-ht-12 {
    height: 13px;
    align-items: center;
    justify-content: flex-start;
  }

  .pdg-lft-m {
    padding-left: 16px;
  }

  .wtp-share {
    width: 25%;
    cursor: pointer;
  }

  .mail-share {
    width: 25%;
    margin-top: 5px;
    cursor: pointer;
  }

  .media-share {
    width: 25%;
    cursor: pointer;
  }

  #modal-share-links > div {
    width: 70%;
    border-radius: 14px;
    margin: auto;
  }

  .display-modal-share {
    padding: 0 !important;
  }

  .title-share-link-m {
    font-size: 14px;
    padding: 0;
    /* padding: 0 3rem 1.5rem 3rem; */
    padding: 0 1rem 0.5rem 1rem;
    /* padding-bottom: 1.5rem; */
  }

  .styles-names-share-m {
    font-size: 8px;
  }

  .styles-columns-share-m {
    height: 81px;
    width: auto;
  }

  .card-shared-icon {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 1rem;
  }

  .info-media-share img {
    width: 2rem;
  }

  .line-location-itinerary {
    display: flex;
    flex-direction: column;
    height: 94%;
    align-items: center;
    & img {
      width: 15px;
    }
  }

  .blinking-dot {
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    animation: blink-animation 1s infinite, jump-animation 2s infinite;
    position: relative;
    left: 10px;
    top: 2px;
  }

  @keyframes blink-animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes jump-animation {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }

  .box-inferior {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    background-color: #ffffff;
    border-top: 1px solid black;
  }

  .container-info-mobile-itinerary {
    border-radius: 12px 12px 0 0;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 1.2rem 1.2rem 1rem !important;

    box-shadow: 0px -4px 14px -3px rgb(0 0 0 / 52%);
    /* &::after{
      content: "";
      position: absolute;
      top: 6px;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      box-shadow: 0px -12px 12px -11px rgba(0,0,0,0.75);
    } */
  }

  .circle-open-dialog-m {
    position: absolute;
    top: 6px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px -12px 12px -11px rgba(0, 0, 0, 0.75);
    z-index: 3;
  }

  .container-info-mobile-itinerary .icon-show-less {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 1;
  }

  .m-i-pay {
    width: 50%;
    text-align: left;
    border-right: 2px solid white;
  }

  .m-i-pay-currency {
    width: 50%;
    padding-left: 30px;
  }

  .m-d-pay {
    font-family: "Montserrat Bold";
    font-size: 12px;
    padding-bottom: 10px;
  }

  .m-h-pay {
    font-family: "Montserrat Bold";
    font-size: 10px;
  }

  .type-reservation-payment-m {
    font-family: "Montserrat SemiBold";
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #b5b5b5;
    padding-bottom: 1rem;
  }
  .reservation-name-m {
    font-family: "Montserrat Medium";
    font-size: 1rem;
  }

  .total-price-reservation-m {
    font-family: "Montserrat Bold";
    font-size: 1.3rem;
  }

  .cards-info-itinerary-m {
    width: 45%;
    height: auto;
  }
  .container-short-info-dialog-i-m {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    overflow: hidden;
  }

  .m-i-price-c {
    font-family: "Montserrat SemiBold";
    font-size: 1.4.5rem;
  }

  .price-number-itinerary-m {
    font-family: "Montserrat Bold";
    font-size: 1.5rem;
    margin-left: 0.7rem;
  }

  .m-hs-pay {
    color: #666666 !important;
    font-family: "Montserrat SemiBold";
    font-size: 8px;
    vertical-align: top;
    list-style-type: disc;
    padding: 0px !important;
  }

  .m-credit-c {
    width: 60%;
  }

  .m-i-total-c {
    font-family: "Montserrat Bold";
    font-size: 8px;
  }

  .m-i-price-c {
    font-family: "Montserrat Bold";
    font-size: 16px;
  }

  .m-i-btn-price {
    border-color: transparent;
    background-color: #fcb41e;
    color: #1e1e1e;
    padding: 6px 34px;
    font-size: 12px;
    border-radius: 42px;
    font-family: "Montserrat Bold";
    margin-top: 6px;
  }

  .m-i-margin-r {
    margin-left: 12px;
  }

  .m-details-info {
    padding: 0rem 2rem;
  }

  .m-title-itinerary {
    padding: 0.2rem 0;
    font-family: "Montserrat Bold";
    font-size: 16px;
  }

  .row-divider {
    padding: 0px 0 1px 0;
  }

  .m-pdg-itinerary {
    padding: 1rem;
  }

  .m-detail-i {
    width: 100%;
    display: flex;
    padding-top: 10px;
  }

  .m-hotels-i {
    width: 70%;
  }

  .m-price-i {
    width: 30%;
    display: grid;
    align-items: end;
    justify-items: end;
  }

  .m-hotel-name {
    font-size: 12px;
    font-family: "Montserrat Bold";
  }

  .m-room-name {
    font-size: 10px;
    font-family: "Montserrat Medium";
  }

  .m-price-math {
    font-size: 12px;
    font-family: "Montserrat Bold";
  }

  .m-i-pay-currency-d {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 50%;
    padding-left: 30px;
  }

  .m-i-pay-d {
    width: 50%;
    text-align: left;
    border-right: 2px solid white;
    /* padding-top: 10px; */
    padding-left: 1rem;
  }

  .m-credit-c-d {
    width: 70%;
  }

  .m-box-inferior-d {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    padding: 10px;
    display: flex;
    background-color: #f4f4f4;
    border-top: 1px solid black;
  }

  .m-scroll-rooms {
    max-height: 75vh;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    padding: 0 0 5rem 0;
  }

  .container-form-payment {
    flex-wrap: wrap;
    padding-top: 1.2rem;
    flex-direction: column-reverse;
  }

  .margin-icon-top {
    margin: 1.5rem auto;
  }

  .details-payment-col-right {
    display: none;
  }

  #card-form > div.form-payment > div.row > div:nth-child(2) {
    padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  }

  .icon-card-pay {
    position: absolute;
    right: 0;
    top: 2px;
  }

  #modal-alert-rate-update > div {
    width: 100%;
  }

  #modal-alert-rate > div {
    width: 100%;
  }

  .m-none-confirmation {
    display: none !important;
  }

  .confirmed-reservation-title {
    font-size: 16px;
  }
  .m-destination-image {
    height: 11em;
    object-fit: cover;
  }

  .confirmed-reservation-subtitle {
    font-size: 14px;
  }

  .m-pdg-con {
    padding: 0.5rem !important;
  }

  .t-data-booking {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .container-detail-reservation {
    padding: 1rem;
  }

  .container-data-reservation {
    padding: 1rem;
  }

  .m-pb-0 {
    padding: 0.5rem !important;
  }

  .pe-5 {
    padding-right: 0rem !important;
  }

  #root
    > div.m-min-h.container
    > div:nth-child(3)
    > div:nth-child(3)
    > div
    > div.d-flex.gap-2.p-0.col-sm-10
    > div
    > div
    > div.d-flex.flex-column.p-3.width100
    > div.pe-5.row
    > div:nth-child(1)
    > div.ch-confirmation.pb-1
    > h5 {
    font-size: 12px;
  }

  .cht-confirmation {
    font-size: 14px;
    line-height: 0.7;
  }

  .th-confirmation {
    font-size: 12px;
    padding-bottom: 5px;
  }

  .rh-confirmation {
    font-size: 10px;
    padding-bottom: 5px;
  }

  .info-reservation-hotel {
    font-size: 8px;
  }

  .price-confirmation {
    font-size: 12px;
  }

  .price-num-confirmation {
    font-size: 12px;
  }

  .total-price-payment-confirmed {
    width: 100%;
    position: relative;
    top: -16px;
  }

  .card-confirmation-hotel {
    height: 280px;
  }

  .form-client {
    padding: 1rem;
  }

  .form-payment {
    padding: 1rem;
  }

  .booking-title-page {
    font-size: 1rem;
  }

  .booking-subtitle-page {
    padding-top: 0;
    font-size: 12px;
  }

  .display-booking {
    justify-content: flex-start;
    align-items: flex-end;
  }

  .icon-royal-itinerary {
    width: 1.4rem;
    margin-right: 3px;
  }

  .divider-details-info {
    min-height: 12rem;
  }

  .payment-styles {
    justify-content: flex-start;
    display: flex;
    gap: 0.5rem;
  }

  /* BOOKING DIALOG */
  .box-inferior.booking-container {
    border-top: none;
    flex-direction: column;
    padding: 0;
    /* border: 2px solid #b5b5b5; */
    z-index: 3;
  }

  .button-open-booking {
    position: relative;
    display: flex;
    /* top: -12px; */
    top: -13px;
  }

  .line-dialog {
    width: 100%;
  }
  .icons-close-dialog-container {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 19px;
  }

  .icons-close-dialog {
    width: 18px;
    top: -3px;
  }

  .title-dialog-booking {
    font-family: "Montserrat Bold";
    font-size: 16px;
    color: #1e1e1e;
  }

  .icon-show-less {
    position: absolute;
    display: flex;
    width: 100%;
    top: 13px;
    left: 11px;
  }
  .container-dialog-booking {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
  }

  .footer-dialog-booking {
    position: fixed;
    bottom: 0;
    padding: 13px 1.5rem 3rem 1.5rem;
    width: 100%;
    left: 0;
    border-top: 1px solid #b5b5b5;
  }

  .type-reservation-title {
    font-size: 14px;
    font-family: "Montserrat Bold";
  }

  .reservation-name-booking {
    font-family: "Montserrat SemiBold";
    font-size: 12px;
    color: #666666;
  }

  .room-name-booking {
    font-family: "Montserrat Medium";
    font-size: 10px;
    color: #666666;
  }

  .price-room-booking {
    font-family: "Montserrat Bold";
    font-size: 12px;
  }

  .price-room-booking-red {
    font-family: "Montserrat Medium";
    font-size: 12px;
    color: #f47d83;
  }

  .total-iva-booking {
    width: 100%;
    border-top: 1px solid #b5b5b5;
    margin-top: 2rem;
    padding-top: 10px;
  }

  .taxes-title {
    font-family: "Montserrat Bold";
    font-size: 14px;
  }

  .list-taxes-booking {
    padding-left: 22px;
  }

  .taxes-information {
    font-size: 12px;
    color: #666666;
  }

  .taxes-subtitle {
    font-family: "Montserrat SemiBold";
  }

  .prices-taxes {
    font-family: "Montserrat Bold";
    color: #1e1e1e;
  }

  .button-payment-details {
    padding: 10px 32px;
    height: 3rem;
  }

  #modal-alert-rate {
    margin: 0;
  }

  .icon-royal-modal-rate {
    height: 39px;
  }

  #modal-alert-rate-update {
    display: flex;
    align-items: center;
    height: 91vh;
    justify-content: space-between;
  }

  .count-number {
    font-size: 12px;
  }

  .update-price-before {
    padding-left: 3rem;
  }

  .overlay {
    border-radius: 8px;
  }

  .btn-update-hotel {
    font-size: 10px !important;
  }

  .buttons-unavailable-hotel {
    left: 8rem;
    /* top: 9.2rem; */
    /* z-index: 2; */
    position: absolute;
    display: flex;
    justify-content: space-evenly;
  }

  .disabled-button-itinerary {
    background-color: #fee8bb;
  }

  /* PAYMENT ALERTS */
  .alert-text-declined {
    font-size: 16px;
  }
  /* END PAYMENT ALERTS */

  /* CONFIRMATION PAYMENT */
  .occupancies-text {
    font-family: "Montserrat Medium";
    font-size: 8px;
    color: #666666;
  }

  .m-occupancies-total {
    font-family: "Montserrat Bold";
    font-size: 9px;
    color: #1e1e1e;
  }

  .m-reservation-text {
    font-family: "Montserrat Medium";
    font-size: 8px;
    color: #66cc9b;
    display: flex;
    flex-direction: column;
    &.empty-reference {
      color: #e46168;
    }
  }

  .m-reservation-number {
    font-family: "Montserrat Bold";
    font-size: 9px;
    color: #10ac61;
    &.empty-reference {
      color: #ed2630;
    }
  }

  .m-text-room-number {
    font-size: 8px;
    font-family: "Montserrat Medium";
    color: #666666;
  }

  .info-people-card-itinerary.confirmation-pay-hotel {
    font-size: 10px;
    color: #1e1e1e;
    letter-spacing: 0.3px;
    padding-left: 0;
  }

  .total-text-payment-c {
    font-size: 10px;
    font-family: "Montserrat Semibold";
    color: #666666;
    margin-right: 3px;
  }

  .m-text-location-p-c {
    font-size: 10px;
    font-family: "Montserrat Semibold";
    color: #666666;
  }

  .reservation-number-d {
    font-family: "Montserrat Bold";
    font-size: 14px;
    color: #eb741e;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .confirmation-number-d {
    color: white;
    font-size: 12px;
    font-family: "Montserrat Bold";
  }

  .reservation-info-m-p {
    color: white;
    font-size: 16px;
    font-family: "Montserrat Bold";
  }

  .container-right-c-p {
    border-left: 1px solid #7b8cc9;
  }

  .title-reservation-dialog {
    color: white;
    font-size: 20px;
    font-family: "Montserrat Bold";
    padding-bottom: 1rem;
  }

  .payment-details-d {
    padding-top: 16px;
    border-top: 1px solid #7b8cc9;
  }

  .container-n-confirmation-bottom {
    width: 100%;
    /* height: 4rem; */
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    left: 0;
    /* bottom: 1rem; */
    padding: 1rem 1rem 0 1rem;
    overflow-y: scroll;
    border-top: 1px solid #7b8cc9;
    background-color: #2743a6;
  }

  .destination-text-c-h {
    font-size: 10px;
    font-family: "Montserrat Bold";
  }

  .destination-c-h {
    font-size: 12px;
    font-family: "Montserrat Bold";
  }

  .m-cards-hotel-p-c {
    min-height: 20rem;
  }

  .time-text-p-c {
    font-size: 8px;
    font-family: "Montserrat SemiBold";
    color: #666666;
  }

  .orange-total-p-c {
    padding-right: 1.4rem;
  }

  .line-location-confirmed-pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
  }
  /* END CONFIRMATION PAYMENT */
}

@media screen and (max-width: 1660px) {
  .details-payment-left {
    width: 54%;
  }
  .number-card {
    gap: 0.4rem;
  }
}
@media screen and (max-width: 1560px) {
  .details-payment-left {
    width: 57%;
  }
  .number-card {
    gap: 0.3rem;
  }
}

@media screen and (max-width: 800px) {
  .container-payment-steeps-info {
    flex-direction: column;
  }

  .container-payment-information {
    margin-bottom: 1.7rem;
  }

  .payment-styles {
    display: none;
  }

  .m-min-h {
    margin-top: 1.6rem;
    /* overflow-x: hidden; */
  }

  .details-payment-left {
    display: none !important;
  }

  .container-cards-payment {
    width: 65%;
  }

  .father-info-itinerary {
    width: 100% !important;
    padding: 2rem !important;
    height: 100% !important;
  }

  .container-next-step {
    position: absolute !important;
    left: 0;
    bottom: 1rem;
    padding: 0 1rem !important;
  }

  .container-confirmation {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem ;
    position: relative;
    background-color: #2743a6;
    border-radius: 12px 12px 0 0;
    align-items: center;
  }

  .circle-open-dialog-c {
    position: absolute;
    left: 50%;
    top: 5px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #2743a6;
  }

  .total-confirmation-text {
    font-size: 19px;
    color: white;
    font-family: "Montserrat SemiBold";
  }
  
  .total-confirmation-price {
    font-size: 22px;
    font-family: "Montserrat Bold";
  }

  .share-confirmation{
    background-color: #EB741E;
    color: white;
    border-radius: 28px;
    padding: 0.5rem;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-family: "Montserrat SemiBold";
    font-size: 17px;
  }

  .share-icon-confirmed{
    color: white;
    width: 23px;
    height: 23px;
  }
}

@media screen and (max-width: 767px) {
  .container-cards-payment {
    width: 100%;
  }

  .container-input-form-payment {
    flex-direction: column;
  }

  .front-card {
    margin: 2rem 1.4rem 1.4rem;
  }

  .button-payment-details {
    font-size: 0.8rem !important;
    font-family: "Montserrat Bold" !important;
    height: auto;
  }

  .add-padding-container {
    padding: 0.2rem 2.1rem !important;
  }
  .disabled-padding-button {
    padding: 0.5rem 2.1rem !important;
  }

  #circle-count {
    width: 28px !important;
    height: 28px !important;
  }
}
/* LP -16-02-24 */
@media screen and (max-width: 500px) {
  .next-steep-button-itinerary{
    width: 45% !important;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }
}