.content-search-dialog{
    background: #2743A6;
    height: 100%;
    width: 100%;
    padding: 4em;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}

.title-search-dialog{
    font-size: 20px;
    font-family: "Montserrat Bold";
    color: white;
}