/* MEDIA QUERY TOUR  */

@media (max-width: 1400px) {

  /* BANNER TOUR */
  .banner-Footer-tour {
    gap: 1% !important;
  }

  .banner-description-tour {
    gap: 2% !important;
  }

  .position-image-col-tour {
    & img {
      height: 100%;
    }
  }

  /* END BANNER TOUR */
}

@media (max-width: 1200px) {

  /* BANNER TOUR */
  .position-new-titles-tour {
    width: 65%;
  }

  .text-image-col-h2-tour {
    font-size: 1.5rem !important;
  }

  /* LP 22-02-24 bannerHomeTour*/
  .btn-image-right-home-tour {
    font-size: 0.8rem;
  }

  .text-position-new-titles-tour-sub {
    font-size: 0.6rem !important;
    width: 221px !important;
  }

  /*END LP 22-02-24 bannerHomeTour*/
  .position-new-titles-tour-col {
    padding: 37px 27px;
  }

  .text-image-col-h3-tour {
    font-size: 1.1rem !important;
  }

  .text-image-col2-h5-tour {
    font-size: 0.8rem !important;
  }

  /* END BANNER TOUR */

  /* SWIPER CAROUSEL */
  #swiper-tour-home>div.swiper-button-prev {
    left: 90% !important;
  }

  /* END SWIPER CAROUSEL */

  /* BANNER TOUR LISTING */
  .banner-tour-l {
    padding-left: 6rem !important;
    bottom: 30%;
    left: 0% !important;
  }

  .icon-banner-t-l {
    width: 2.3rem !important;
    height: 2.3rem !important;
  }

  .title-destination-tour {
    font-size: 2.6rem !important;
  }

  .title-r-tour-b {
    font-size: 1.1rem !important;
  }

  /* END BANNER TOUR LISTING */
}

@media only screen and (max-width: 1000px) {

  .tour-image-new-listing {
    min-height: 15rem !important;
    height: 15rem !important;
  }

  /* BANNER TOUR */
  .Element-tabTour {
    top: -5.7rem;
    /* top: -6.5rem; */
  }

  .input-search-t-h {
    width: 100% !important;
    display: flex;
  }

  .textField-box-result {
    padding: 6px 0 7px 10px !important;
  }

  .banner-home-tour {
    width: 100%;
    height: 219px !important;
    height: 248px !important;
    object-fit: cover !important;
  }

  .banner-Footer-tour {
    flex-wrap: wrap;
    padding: 0 12px !important;
    row-gap: 1rem !important;
    margin-top: 6rem !important;
    margin-bottom: 1.5rem !important;
  }

  .position-image-col-tour {
    width: 100%;
  }

  .position-new-titles-tour {
    gap: 0.5rem;
    width: 80% !important;
    /* left: 66.4% !important; */
    left: 40% !important;
  }

  .text-image-col-h2-tour {
    font-size: 1.5rem !important;
    width: 57% !important;
  }

  /* LP 22-02-24 bannerHomeTour*/
  .btn-image-right-home-tour {
    font-size: 1rem;
  }

  .position-image-col-tour-banner {
    margin-top: 50px;
    width: 100% !important;
    height: 19rem !important;
  }

  .image-right-home-tour {
    clip-path: polygon(0% 43rem, 40% 0%, 179rem 0%, 32rem 27rem, 0rem 27rem) !important;
  }

  /* LP */
  .position-new-titles-tour-sub {
    width: 51% !important;
  }

  .text-image-new-h5-tour {
    font-size: 1.5rem !important;
  }

  .banner-description-tour {
    width: 100%;
    gap: 1.5rem !important;
  }

  .text-image-col-h3-tour {
    font-size: 24px !important;
  }

  .text-image-col2-h5-tour {
    font-size: 18px !important;
  }

  /* END BANNER TOUR */

  /* CARDS TOUR HOME */
  .container-cards-tour {
    padding: 0 12px !important;
  }

  .image-card-t-h {
    /* border-radius: 13px !important; */
  }

  /* END CARDS TOUR HOME */

  /* TOUR BANNER */
  .carousel-tour-container {
    padding: 0 12px !important;
    margin-bottom: 4rem !important;
  }

  .title-cards-tour.carrousel {
    z-index: 3;
  }

  .container-item-carrousel-tour {
    height: 25rem;
  }

  .column-image-two-tour {
    width: 65%;
  }

  .column-image-one-tour {
    width: 35% !important;
  }

  /* END TOUR BANNER */

  /* SWIPER CAROUSEL */


  /* END SWIPER CAROUSEL */

  /* BANNER TOUR LISTING */
  .banner-tour-l {
    padding-left: 3rem !important;
    bottom: 35%;
    left: 0% !important;
  }

  .icon-banner-t-l {
    width: 2rem !important;
    height: 2rem !important;
  }

  .title-destination-tour {
    font-size: 2.3rem !important;
  }

  .title-r-tour-b {
    width: 33rem !important;
    font-size: 1rem !important;
  }

  .total-tours-list {
    font-size: 1.7rem !important;
  }

  .subtitle-tour-ban {
    font-size: 1rem !important;
    gap: 11% !important;
  }

  /* END BANNER TOUR LISTING */

  /* CARD TOUR LISTING */

  .container-description-tour {
    padding: 9px 0 9px 9px !important;
  }

  .title-card-tour {
    font-size: 0.8rem !important;
    line-height: 0.1rem;
  }

  #rating-car-tour {
    font-size: 0.9rem !important;
  }

  .location-card-tour-l {
    font-size: 0.7rem !important;
  }

  .icons-tour-include {
    width: 1.1rem !important;
  }

  .description-tour-card-l {
    font-size: 0.59rem !important;
    margin-top: 1rem !important;
  }

  .tour-duration-c-l {
    margin-top: 0.7rem !important;
    font-size: 0.66rem !important;
  }

  .card-tour-button-l {
    font-size: 10px !important;
    padding: 4px 22px !important;
  }

  .price-tour-card {
    font-size: 0.8rem !important;
  }

  /* END CARD TOUR LISTING */
}

@media (max-width: 770px) {

  /* BANNER TOUR */
  .position-new-titles-tour-col {
    padding: 40px 30px !important;
  }

  .text-image-col-h3-tour {
    font-size: 1.3rem !important;
  }

  .text-image-col2-h5-tour {
    font-size: 0.9rem !important;
  }

  /* END BANNER TOUR */

  /* CARDS TOUR HOME */
  .container-listing-tour {
    margin-top: 3rem !important;
  }

  .title-cards-tour {
    font-size: 1.3rem !important;
  }

  .title-description-h {
    & h3 {
      font-size: 0.8rem !important;
    }
  }

  .css-iljtu2-MuiRating-root {
    font-size: 1rem !important;
  }

  .hours-tour-h {
    font-size: 0.7rem !important;
    margin: 6px !important;
  }

  .price-tour {
    font-size: 0.8rem !important;
  }

  .location-tour-c {
    font-size: 1rem !important;
  }

  .card-tours-home {
    max-width: 15.5rem !important;
  }

  .image-card-t-h {
    height: 190px !important;
  }

  .price-by-person {
    font-size: 0.5rem !important;
  }

  /* END CARDS TOUR HOME */

  /* TOUR BANNER */
  .container-item-carrousel-tour {
    flex-direction: column;
  }

  .container-one-image-tour {
    height: 44% !important;
  }

  .column-image-three-tour {
    flex-direction: row !important;
    width: 100% !important;
    height: 44% !important;
    gap: 1rem;
  }

  .column-image-tour-home {
    width: 50%;
    height: 80% !important;
  }

  .column-image-one-tour,
  .column-image-two-tour {
    width: 50% !important;
  }

  #carousel-home-tour {
    padding-top: 2rem !important;
  }

  .title-xl-tour-carousel {
    font-size: 14px !important;
  }

  .price-text-xl-tour-carouse {
    font-size: 10px !important;
  }

  .price-xl-tour-carousel {
    font-size: 12px !important;
  }

  /* END TOUR BANNER */

  /* BANNER TOUR LISTING */
  .tour-image-new-listing {
    height: 15rem !important;
  }

  .banner-tour-l {
    padding-left: 2.6rem !important;
    left: 0% !important;
  }

  .icon-banner-t-l {
    width: 1.4rem !important;
    height: 1.4rem !important;
  }

  .title-destination-tour {
    font-size: 1.7rem !important;
    align-items: center;
  }

  .title-r-tour-b {
    width: 25rem !important;
    font-size: 1.1rem !important;
    text-align: center;
  }

  .total-tours-list {
    font-size: 1rem !important;
  }

  .icon-call-b-t {
    width: 1.4rem !important;
    height: 1.4rem !important;
  }

  .subtitle-tour-ban {
    font-size: 0.7rem !important;
    gap: 11% !important;
  }

  /* END BANNER TOUR LISTING */

  /* LP BANNER TOUR 19-02-24*/
  .text-image-col-h2-tour {
    font-size: 1.3rem !important;
    width: 53% !important;
  }

  .btn-image-right-home-tour {
    font-size: 0.8rem !important;
  }

  .position-image-col-tour-banner {
    height: 17rem !important;
  }

  .carousel-tour-container{
    margin-bottom: 1rem !important;
  }

  .container-cards-tour{
    margin-bottom: 4rem !important;
  }

}

@media (max-width: 500px) {
  .container-modal-tour-reservation {
    padding: 0 1rem 1rem 1rem !important;
  }

  /* BANNER TOUR */
  .position-new-titles-tour {
    width: 97% !important;
    right: 0 !important;
    left: 0px !important;
    padding: 0 !important;
    top: 0 !important;
    transform: translate(0) !important;
  }

  .position-new-titles-tour-col {
    padding: 25px 25px !important;
  }

  .text-image-new-h5-tour {
    font-size: 1.2rem !important;
  }

  .text-image-col-h3-tour {
    font-size: 1rem !important;
  }

  .text-image-col2-h5-tour {
    font-size: 0.7rem !important;
  }

  /* END BANNER TOUR */

  /* CARDS TOUR HOME */
  .card-tours-home {
    max-width: 15.5rem !important;
  }

  .image-card-t-h {
    height: 165px !important;
  }

  /* END CARDS TOUR HOME */

  /* TOUR BANNER */
  #swiper-tour-home>div.swiper-button-prev {
    display: none !important;
  }

  #swiper-tour-home>div.swiper-button-next {
    display: none !important;
  }

  /* END TOUR BANNER */

  /* BANNER TOUR LISTING */
  .tour-image-new-listing {
    height: 9rem !important;
    min-height: 11rem !important;
  }

  .banner-tour-l {
    padding-left: 1rem !important;
    row-gap: 1.8rem !important;
    bottom: 32% !important;
    left: 0% !important;
  }

  .title-destination-tour {
    font-size: 1.3rem !important;
    align-items: center;

  }

  .title-r-tour-b {
    width: 15rem !important;
    font-size: 0.7rem !important;
    text-align: center;

  }

  .icon-banner-t-l {
    width: 1rem !important;
    height: 1rem !important;
  }

  /* END BANNER TOUR LISTING */

  /* CARD LISTING TOUR */
  .offer-icon-tour {
    width: 6rem !important;
    top: -8px !important;
    left: -15px !important;
  }

  .offer-title {
    font-size: 0.8rem !important;
    top: 0.6rem !important;
    left: -0.3rem !important;
  }

  /* END CARD LISTING TOUR */


  /* LP /19-02-24 */
  #root>div:nth-child(5)>div>div>div.ordering-filter-box>div.MuiFormControl-root.css-op7nof-MuiFormControl-root {
    min-width: 195px;
  }

  /* LP BANNER TOUR 22-02-24*/
  .text-image-col-h2-tour {
    font-size: 1.1rem !important;
    width: 42% !important;
    top: 40px !important;
  }

  .btn-image-right-home-tour {
    font-size: 0.5rem !important;
  }

  .text-position-new-titles-tour-sub {
    font-size: 0.5rem !important;
    width: 145px !important;
  }

  .position-new-titles-tour-sub {
    border-right: solid 286px #1B1464 !important;
    font-size: 0.5rem !important;
  }

  .container-cards-tour{
    margin-bottom: 3rem !important;
  }


  /*END LP BANNER TOUR 22-02-24*/
  .position-image-col-tour-banner {
    height: 14rem !important;
  }

  .carousel-tour-container{
    margin-bottom: 0rem !important;
  }

  .subtitle-card-tour{
    font-size: 12px;
  }

  .banner-Footer-tour{
    margin-top: 2rem !important;
  }
}

@media screen and (width:1710px) {
  .banner-tour-l {
    left: 0%;
  }
}


@media screen and (max-width:1200px) {

  .cont-confirmation-info-green {
    gap: 0.6rem !important;
  }

  .cont-confirmation-info-father {
    width: 90% !important;
  }

  .text-confirm-black-m {
    font-size: 0.6rem !important;
  }

  .text-confirm-grey {
    font-size: 1.2rem !important;
  }

  .card-tours-home {
    max-width: 19rem !important;
  }

}

@media screen and (max-width:800px) {
  .cont-confirmation-info-father {
    margin: 0 !important;
    width: 100% !important;
    gap: 9px !important;
    position: relative !important;
  }
}