.badge-ligth-green {
  padding: 0.4rem;
  background-color: #e0feef;
  font-size: 0.7rem;
  font-family: "Montserrat SemiBold";
  color: #10ac61;
  border: none;
  border-radius: 6px;
  /* margin-top: 5px; */
  width: max-content;
}

.p-none {
  margin: 0;
}

.badge-discount-red {
  padding: 0.3rem;
  margin-left: 10px;
  background-color: #ed2630;
  font-size: 0.7rem;
  font-family: "Montserrat SemiBold";
  color: #f4f4f4;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 50px;
}

.b-size-30 {
  font-size: 26px;
  font-family: "Montserrat Bold";
}

.b-size-15 {
  font-size: 12px;
  font-family: "Montserrat SemiBold";
}

.b-size-20 {
  font-size: 12px;
  color: #666666;
  font-family: "Montserrat SemiBold";
}

.b-size-50 {
  font-size: 40px;
  font-family: "Montserrat Bold";
  line-height: 44px;
}

.b-blue {
  font-size: 14px;
  color: #2743a6;
  /* font-family: "Montserrat Bold"; */
}

.detail-radius {
  padding: 10px 15px;
  border-radius: 30px !important;
  background: #f4f4f4;
  color: #787878;
  width: max-content;
  text-align: center;
  font-family: "Montserrat Bold";
  /* margin-bottom: 20px;
  margin-top: 1rem; */
  font-size: 14px;
}

.line-down {
  /* padding-top: 10px; */
  border-bottom: 2px solid #ececec;
}

.select-info-tour-modal {
  padding: 7px 12px;
  background: #f4f4f4;
  width: max-content;
  margin: 1.3rem 0;
  border-radius: 50px !important;
  gap: 45px;
}

.children-Info-Tour {
  /* margin-left: 40px; */
  font-family: "Montserrat SemiBold";
  color: #777777;
  border-radius: 24px;
  font-size: 17px;
  padding: 8px;
  border: none;
  background: #f4f4f4;
  &.orange {
    color: #ffffff;
    background: #eb741e;
    border-radius: 50px;
    padding-right: 20px;
  }
}

/* .inconInfo{
  width: 20px;
  height: 20px;
  padding-left: 5px;
} */

/* MODAL TOUR /LP/ 08-02-24 */
.icon-go-back {
  display: flex;
  gap: 6px;
  align-items: center;
  margin: 0px 0px 13px;
  font-size: 13px;
  color: #666666;
  font-family: "Montserrat Bold";
  border: none;
  background: none;
}

.icon-left-m {
  width: 15px;
  height: 25px;
}

.cont-more-date {
  align-items: center;
  font-size: 15px;
  color: #2743a6;
  gap: 9px;
  font-family: "Montserrat Medium";
  padding-right: 73px;
}

/* 12-02-24 /LP */

#dates-tour-modal {
  width: 100%;
}

.cont-card-res-tour {
  flex-direction: column;
  align-items: end;
  color: white;
  font-family: "Montserrat Medium";
  font-size: 12px;
  gap: 5px;
}

/* INFO GEN /LP  */
.cont-info-gen-duration {
  background: #ebebeb;
  color: #666666;
  display: flex;
  align-items: center;
  width: 120px;
  height: 36px;
  font-family: "Montserrat Bold";
  font-size: 10px;
  justify-content: center;
  border-radius: 4px;
}

.text-p-info-gen {
  font-family: "Montserrat Medium";
  font-size: 14px;
}
/*END INFO GEN /LP  */

@media screen and (max-width: 500px) {
  .image-modal-hotel-major-tour {
    height: 16.5rem !important;
  }
  .b-size-50 {
    line-height: 26px;
    font-size: 26px;
  }

  .b-size-15 {
    font-size: 10px;
  }
  .b-size-30 {
    font-size: 22px;
  }

  .children-Info-Tour {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    text-wrap: nowrap;
    &.orange{
     padding: 4px 12px; 
     border-radius: 15px;
    }
  }

  .select-info-tour-modal {
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }

  .line-divided-calendar-tour-m{
    margin: 0.1rem 0;
  }

  .b-time {
    font-size: 19px;
  }

  .btn-time{
    font-size: 14px;
  }

  .b-blue{
    font-size: 12px;
  }

  .detail-radius{
    font-size: 12px;
  }

  .start-rating-modal-tour{
    font-size: 15px !important;
  }

  .contend-tour-title-price{
    gap: 7px;
    padding: 15px 13px 0 13px;
  }

  .container-reservation-tour{
    margin: 0;
  }
  
  .modality-tour-selected-entries{
    margin: 0;
    width: 19rem;
  }

  .header-modality-selected-entries{
    &::before{
      right: 93%;
    }
    &::after{
      left: 93%;
    }
  }
}
